{
  "dhis": {
    "base_url": "https://play.im.dhis2.org/stable-2-42-1",
    "token": "<PASTE_TOKEN>",
    "verify_ssl": true,
    "timeout_seconds": 60
  },
  "alerting": {
    "webhook_url": null,
    "only_on_failure": true,
    "telegram": {
      "bot_token": "123456:ABCDEF...",
      "chat_id": "XXXXXXXXXXXXXXXXXX"
    }
  },
  "modes": {
    "continuous": {
      "skipResourceTables": "true",
      "skipAggregate": "true",
      "lastYears": "0"
    },
    "incremental": {
      "skipResourceTables": "true",
      "skipOrgUnitOwnership": "true",
      "skipTrackedEntities": "true",
      "skipOutliers": "true",
      "lastYears": "1"
    },
    "full": {
      "skipOutliers": "true"
    }
  }
}
